<!DOCTYPE html>

<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Leo Mask{TITLE}</title>
<meta name="description" content="Hi! I'm Leo Mask, a songwriter and producer from Germany!" />
<meta name="keywords" content="Leo Mask leomaskmusic Lovely Day producer songwriter singer-songwriter musician original" />

{HEADER}

</head>

<body>

<div id="wrapper">

		<div id="nav">
	
			{MENU}

		</div><!--nav-->
	  
<div id="wrapcontent">

{CONTENT}

</div><!-- #wrapcontent -->

  <div id="footer">
     {FOOTER}
  </div><!-- #footer -->
</div><!-- #wrapper -->  

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.adriansieber.com/" : "http://piwik.adriansieber.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 3);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://piwik.adriansieber.com/piwik.php?idsite=3" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

</body>
</html>
